<!-- {% extends 'main.html' %} -->
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- Boostrap CSS CDN -->    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'style.css' %}">
    <section class="header">
        <nav>
            <a href="#"><img src="{% static 'images/logo2.jpg' %}" style="width: 80px; height: 70px; border-radius: 50%;"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'image_list' %}">PRODUCTS</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    <li><a href="{% url 'login' %}">LOGIN</a></li>    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
    <div class="text-box">
        <h1>Elevate Your Space with Estery Furniture</h1>

        <p>Welcome to Estery Furniture , your premier destination for high-quality, affordable furniture.<br> We're committed to providing our customers with the highest quality furniture, carefully selected<br> for its exceptional craftsmanship, comfort, and style.</p>
        

        <a href="#" class="hero-btn">Visit Us To Know More</a>
    </div>
    </section>
<br>
    <!-- --------course section ------- -->

    <section class="course">
        <h2>Our Products </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="row">
            <div class="course-col">
                <h3>Chairs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>

            <div class="course-col">
                <h3>Beds</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>

            <div class="course-col">
                <h3>Tables</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </div>

        </div>
        

    </section>

<section class="services">
    <h1 align="center">Our Gallery </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="row1">
      <div class="column">
        <h1>Image 1</h1>
        <img src="{% static 'images/bg.jpeg' %}" alt="Image 1">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs..</p>
      </div>
      <div class="column">
        <h1>Image 2</h1>
        <img src="{% static 'images/1.jpeg' %}" alt="Image 2">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs.</p>
      </div>
      <div class="column">
        <h1>Image 3</h1>
        <img src="{% static 'images/chair.jpeg' %}" alt="Image 3">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs.</p>
      </div>
</div>
<br>
<div class="row1">
      <div class="column">
        <h1>Image 1</h1>
        <img src="{% static 'images/bg.jpeg' %}" alt="Image 1">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs..</p>
      </div>
      <div class="column">
        <h1>Image 2</h1>
        <img src="{% static 'images/1.jpeg' %}" alt="Image 2">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs.</p>
      </div>
      <div class="column">
        <h1>Image 3</h1>
        <img src="{% static 'images/chair.jpeg' %}" alt="Image 3">
        <p>Your home, your style, our furniture. We're passionate about helping you create a space that reflects your personality and meets your needs.</p>
      </div>
</div>
    
</section>







<!-- ------------2 column code------------- -->


<style>
* {
  box-sizing: border-box;
}

.row {
    margin: 100px auto;
    width: 80%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
  padding: 10px;
/*  margin: 10px;*/
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
<hr>
<h1 align="center">About Us</h1>
<div class="row">

  <div class="column" style="background-color:#000;">
    <!-- <h1 align="center">About Us</h1> -->
    <p>Resize the browser window to see the responsive effect (the columns will stack on top of each other instead of floating next to each other, when the screen is less than 600px wide).</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
  </div>

    <div class="column" style="background-color:#fff;">
    <!-- <h2>Column 1</h2> -->
    <a href="#"><img src="{% static 'images/Es_logo.jpg' %}" width="95%", height="400px";></a>
  </div>

</div>


<!-- ---------end of 2 column----------- -->
<section>
    <div class="row">
        <div class="column">
            <h1>course1</h1>
            <img src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="column">
            <h1>course1</h1>
            <img src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>


<!-- --------Call To Action------- -->

    <section class="cta">
        <h1>Visit Our Branches</h1>
        <p>Our branches are designed to inspire and delight, with a vast selection of stylish <br>and functional furniture pieces on display.</p>
        <a href="{% url 'contact' %}" class="hero-btn">Contact Us</a>
        
    </section>


<hr>
    <section class="footer">
        <div class="icons">
            <i class="fa fa-instagram"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-camera-retro"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by Chriscode Academy!!</p>
    </section>


<!-- js for togglin the menu -->

<script>
    var navLinks = document.getElementById('navLinks');

    function showMenu() {
        navLinks.style.right = "0";

    }

    function hideMenu() {
        navLinks.style.right = "-200px";

    }

</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock content %}